body {
    background-color: #965a3ac4;
}

.conteudo{
    background-color:#69162198 ;
    color: rgba(245, 235, 235, 0.904);
    padding: 5%;
}

h1 {
    text-align: center;
    color: rgb(255, 219, 174);
}

p{
    text-align: justify;
    font-size: large;
}

li{
    padding-bottom: 20px;
    padding-top: 20px;
}

.imgHobbies {
    width: 400px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.bandeiras {
    border-radius: 10px;
    width: 200px;
}

th, td {
    border: 3px solid #333;
    padding: 10px;
    text-align: center;
}

a {
    color: #2e70b3;
    text-decoration: none;
    font-size: large;
}

a:hover {
    color: #ff6600;
    font-size: x-large;
}

button {
    margin-top: 20px;
    font-size: large;
    border-radius: 20px;
    background-color: #333;
    color: aliceblue;
    padding: 10px;
}
button:hover {
    background-color: #8f7f7f;
}